@import url(http://fonts.googleapis.com/css?family=Francois+One);

/*****************************************************
1. HEADER code
2. NAVIGATION code
3. SIDEBAR code
4. CONTENT code
5. FOOTER code
*****************************************************/

/***************************************************** HEADER *********************************************************/
.fixedHeader{ position: fixed !important; }
.bodyBackground{
	background-color: lightgray;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.2) 40%);
	background-size: 40px 40px;
}

/***************************************************** NAVIGATION *********************************************************/
#user-info{ 
	color: white; 
	font-size: 2em;
	display: inline-block;
	padding-right: 2%;
}

.icon-azul{
	background-image: url("img/azul.png");
	height: 26px;
    width: 35px;
	background-position: center center;
	margin-top: -10px;
}

.icon-gris-claro{
	background-image: url("img/light_gray.png");
	height: 20px;
	width: 19px;
	background-position: center center;
	margin-top: -2px;
	margin-left: 5px;
}

.icon-gris-claro-div{
	background-image: url("img/light_gray.png");
	height: 20px;
	width: 19px;
	background-position: center center;
	float: right;
}

.login-buttons{ margin-top: 1.5%; float:left;}

#logout{display: none;}
#login_section{ width: auto; }


/*******************************************  MENU SIDEBAR STYLE ***************************************************************/

#userSidebar{
	width: 17.2%;
	margin-left: -5px !important;
	padding-left: 1%;
	position:fixed; 
	z-index: 9999;
	margin-top: 5.7%;
}

#profile_picture{
	width:50%;
	height:100%; 
	max-width:50%; 
	max-height:100%;
}

.sidebarTils{
	width: 210px !important;
	height: 90px !important;
}

.sidebarTilsMargin{
	margin-top: 2%;
}

.sidebarTilsContent{
	width: 50% !important;
	float: left;
}

.sideBarTilsHeaders{
	margin-top: 20% !important;
}

.sideBarIcons{
	font-size: 65px;
	float: right;
	padding: 3% !important;
	margin-right: 8% !important;
}

/**********************************************  CONTACT CARD STYLE ******************************************************/

.wrapper {
	width:960px;
	margin:auto;
}

.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	margin: 10px;
	float:left;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);; /* Safari and Chrome */
}

.flip-container, .front, .back {
	width: 220px;
	height: 260px;
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	box-shadow:inset 0px 0px 100px rgba(0,0,0,0.2);
	z-index: 2;
	background-image:url(http://cdn.is.bluefly.com/mgen/Bluefly/eqzoom85.ms?img=322262201.pct&outputx=340&outputy=408&level=1&ver=8);
}

.front .desc {
	position:absolute;
	background:rgba(0,0,0,0.5);
	display:block;
	width:auto;
	bottom:0px;
	padding:15px;
	line-height:27px;
}

.front .desc span {
	display:inline-block;
}
.front .desc span:nth-child(1) {
	color:white;
	font-size:.9em;
}
.front .desc span:nth-child(2) {
	color:#71b0db;
	font-size:1em;
	font-weight:700;
}
.front .desc span:nth-child(3) {
	color:#808080;
	font-size:.8em;
	text-decoration:line-through;
}
.front .desc img {
	width: 220px;
	height: 320px;
}
.front .desc button {
	background:#71b0db;
	border:none;
	color:white;
	padding:7px;
	font-size:.8em;
	border-radius:8px;
	float:right;
}

.back {
	transform: rotateY(180deg);
	-ms-transform:rotateY(180deg); /* IE 9 */
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	background:#f0f0f0;
	box-shadow:inset 0px 0px 50px rgba(0,0,0,0.2);
	padding:30px;
	width:220px;
	height:270px;
}
.back form,label,select {
	display:block;
	width:100%;
}
.back label {
	padding-bottom:5px;
	font-size:.9em;
	color:#808080;
}
.back select { margin-bottom:20px;}

.back button {
	background:#71b0db;
	text-transform:uppercase;
	color:white;
	border:none;
	padding:10px;
}

.cardContactBackground{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

/**********************************************  CONTENT ******************************************************/
.showContent{ display: none;}
.mainContent{ width: auto !important; margin-left: 0px !important; }
.contenedorPrincipal{
    margin-top: 5%;  
    margin-left: 17%;
}


/******************************************LOGIN ***************************************************************/
.container {
  margin: 80px auto;
  width: 740px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 510px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login form{ padding: 7%; }


.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.login .titleContainer{
	width: 500px; 
	margin-left: -15px; 
	margin-top: -15px; 
	border-radius: 15px;
}
.loginIcon{
	width: 60px !important; 
	float: left !important; 
	height: 60px !important;
}


.loginEmailIcon{
	font-size: 45px; 
	padding-left: 11%; 
	padding-top: 8%;
}

.loginPassIcon{
	font-size: 50px; 
	padding-left: 22%; 
	padding-top: 5%; 
	width:80%;
}

.loginEmailInput{
	height: 60px; 
	font-size: 27px; 
	width:80% !important;
}

.loginPassInput{
	height: 60px; 
	font-size: 27px; 
	width:80% !important;
}

.ingresarButton{
	margin-top: 3%;
	width: 40% !important;
	height: 50px !important; 
	margin-left: 57%;
	font-size: 1.4em !important;
}