@import url(http://fonts.googleapis.com/css?family=Francois+One);

.brand {
    font-family: 'Arvo';
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}

.thumbnail {
    min-width: 260px;
}

.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

legend {
    font-family: 'Andika';
}

.home-hero {
    font-family: "Andika";
    font-size: 36;
    color: black;
    margin-top: -19px;
    padding: 180px;
    text-align : center;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}


.home-hero .btn {
    font-family: "arvo";
    width: 160px;
    margin: 10px 4px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#user-info{

	color: white;

}

.icon-azul{
	background-image: url("img/azul.png");
	height: 26px;
    width: 35px;
	background-position: center center;
	margin-top: -10px;
}

.icon-gris-claro{
	background-image: url("img/light_gray.png");
	height: 20px;
	width: 19px;
	background-position: center center;
	margin-top: -2px;
	margin-left: 5px;
}

.icon-gris-claro-div{
	background-image: url("img/light_gray.png");
	height: 20px;
	width: 19px;
	background-position: center center;
	float: right;

}

.user-options{
	float: left;
	margin-left: 2%;
	height: 400px;
	width: 30%;
	margin-top: 4%;
	padding: 0.5%;
}

.user-friends{
	background: #eeeeee url("../css/img/friends.jpg") no-repeat;
	background-position: bottom center;

}

.user-friends:hover{
	-webkit-transform: rotate(-10deg);
	opacity: 0.5;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	transition-duration: 0.3s;
	
}

.options-title{
	font-family: 'Francois One', 'Arvo', sans-serif;
	font-size: 60px !important;
	margin-left: 20%;
	margin-top: 5%;
}

.welcome-menu{
	height: 300px;
	margin-top: 4%;
	background-color: rgba(240, 240, 240, 0.5);
	border-radius: 0px 100px 0px 100px;
	box-shadow: 15px 20px 30px rgb(146, 146, 146);
}

.login-buttons{
	margin-top: 1.5%;
}

#user_photo{
	width: 80%;
	height: 30%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

/*************************  MENU SIDEBAR STYLE ***********************************/
/**********************************************************************************/

#userSidebar{
	width: 110px;
}

#profile_picture{
	width:50%;
	height:100%; 
	max-width:50%; 
	max-height:100%;
}

.sidebarTils{
	width: 220px !important;
	height: 90px !important;
}

.sidebarTilsContent{
	width: 50% !important;
	float: left;
}

.sideBarTilsHeaders{
	margin-top: 20% !important;
}

.sideBarIcons{
	font-size: 65px;
	float: right;
	padding: 3% !important;
	margin-right: 8% !important;
}

/*************************  CONTACT CARD STYLE ***********************************/
/**********************************************************************************/
.wrapper {
	width:960px;
	margin:auto;
}

.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	margin: 10px;
	float:left;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);; /* Safari and Chrome */
}

.flip-container, .front, .back {
	width: 220px;
	height: 260px;
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	box-shadow:inset 0px 0px 100px rgba(0,0,0,0.2);
	z-index: 2;
	background-image:url(http://cdn.is.bluefly.com/mgen/Bluefly/eqzoom85.ms?img=322262201.pct&outputx=340&outputy=408&level=1&ver=8);
}

.front .desc {
	position:absolute;
	background:rgba(0,0,0,0.5);
	display:block;
	width:auto;
	bottom:0px;
	padding:15px;
	line-height:27px;
}

.front .desc span {
	display:inline-block;
}
.front .desc span:nth-child(1) {
	color:white;
	font-size:.9em;
}
.front .desc span:nth-child(2) {
	color:#71b0db;
	font-size:1em;
	font-weight:700;
}
.front .desc span:nth-child(3) {
	color:#808080;
	font-size:.8em;
	text-decoration:line-through;
}
.front .desc img {
	width: 220px;
	height: 320px;
}
.front .desc button {
	background:#71b0db;
	border:none;
	color:white;
	padding:7px;
	font-size:.8em;
	border-radius:8px;
	float:right;
}

.back {
	transform: rotateY(180deg);
	-ms-transform:rotateY(180deg); /* IE 9 */
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */

	background:#f0f0f0;
	box-shadow:inset 0px 0px 50px rgba(0,0,0,0.2);
	padding:30px;
	width:220px;
	height:270px;
}
.back form,label,select {
	display:block;
	width:100%;
}
.back label {
	padding-bottom:5px;
	font-size:.9em;
	color:#808080;
}
.back select {
	margin-bottom:20px;
}
.back button {
	background:#71b0db;
	text-transform:uppercase;
	color:white;
	border:none;
	padding:10px;
}

.cardContactBackground{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}